{% extends 'base.html' %}

{% block content %}
<h2>소분/나눔 게시판입니다.</h2>
<div class="board-button">
{#    <a href="{% url 'main' %}" class="btn btn-primary" role="button">새 글 작성하기</a>#}
    <a href="{% url 'main' %}" class="btn btn-primary" role="button">메인으로 돌아가기</a>
</div>
<div class="board-list">
    {% for post in posts %}
    <div class="card" style="width: 18rem;">
        <img src="{{ post.image1.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content }}</p>
{#            <a href="{% url '#' post.id %}" class="btn btn-primary">상세보기</a>#}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
