{% extends 'base.html' %}

{% block content %}
<h2>소분/나눔 게시판입니다.</h2>
<div class="board-button">
    <a href="{% url 'new' %}" class="btn btn-primary" role="button">새 글 작성하기</a>
    <a href="{% url 'main' %}" class="btn btn-primary" role="button">메인으로 돌아가기</a>
</div>
<div class="board-list">
{% for post in posts %}
    <h1>post id : {{ post.id }}</h1>
    <a href="{% url 'edit' post.id %}" class="btn btn-primary" role="button">이 글 수정하기</a>
    <form action="{% url 'delete' post.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="삭제하기" class="btn btn-outline-primary">
    </form>
<div class="card" style="width: 18rem;">
    <img src="{{ post.image1.url }}" class="card-img-top" alt="...">
    {% if post.image2 != "" %}
        <img src="{{ post.image2.url }}" class="card-img-top" alt="...">
    {% endif %}
    {% if post.image3 != "" %}
        <img src="{{ post.image3.url }}" class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content }}</p>
{#        <a href="{% url '#' post.id %}" class="btn btn-primary">상세보기</a>#}
        <div class="card-text">
            <h3>post {{ post.id }} 의 댓글입니다.</h3>
            {% for comment in comments %}
                {% if comment.post_key == post %}
                    <p>user {{ comment.user_key }} : {{ comment.content }}</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
