{% extends 'base.html' %}

{% block content %}
    {% for item in open_api_data %}
        <div style="border: 1px; border-style: dotted; border-color: #1b1b1b; margin: 10px; padding: 10px;">
            <h5>{{ item.item_name }}</h5>
            <h5>{{ item.kind_name }}</h5>
            <h5>{{ item.rank }}</h5>
            <h5>{{ item.unit }}</h5>
            <h5>{{ item.date }}</h5>
            <h5>{{ item.price }}</h5>
            <h5>{{ item.average_price }}</h5>
        </div>
    {% endfor %}
{% endblock %}
